:root{
  --bg:#645AFD;     
  --panel:#D6B8FF;  
  --panel-2:#BAA1FF;
  --inner:#9D89FE;  
  --border:#8172FE; 
  --text:#ffffff;   
}


*{box-sizing:border-box;}
html,body{margin:0;padding:0;}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.page-header{
  background: var(--panel);
  border: 8px solid var(--border);
  border-left-width: 18px;
  border-right-width: 18px;
  margin: 16px;
  padding: 12px 16px;
  text-align: center;
}
.page-header h1{
  margin: 0 0 6px 0;
}

.article-main h3,
.article-main h4 {
  text-align: center;
}

.top-nav{
  background: var(--panel);
  border: 8px solid var(--border);
  border-left-width: 18px;
  border-right-width: 18px;
  margin: 0 16px 16px 16px;
  padding: 8px 12px;
}
.top-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
}
.top-nav a{
  text-decoration: none;
  color: #073915;
  font-weight: bold;
}
.top-nav a:hover{ text-decoration: underline; }

.layout{
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1.1fr;     
  grid-template-rows: auto auto;        
  grid-template-areas:
    "article aside"
    "section aside";
  margin: 0 16px 16px 16px;
}


.article{
  grid-area: article;
  background: var(--panel);
  border: 8px solid var(--border);
  padding: 12px;
}
.article-header{
  background: var(--inner);
  padding: 8px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 2px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.article-main{
  background: var(--inner);
  padding: 10px;
  border-radius: 2px;
}
.article-main img{
  width: 100%;
  max-width: 250px; 
  border-radius: 8px;
  display: block;
  margin: 12px auto;}

.aside{
  grid-area: aside;
  background: var(--panel-2);
  border: 8px solid var(--border);
  padding: 10px;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: center;
}


.section-extra{
  grid-area: section;
  background: var(--panel);
  border: 8px solid var(--border);
  padding: 12px;
}

.page-footer{
  background: var(--panel);
  border: 8px solid var(--border);
  border-left-width: 18px;
  border-right-width: 18px;
  margin: 0 16px 16px 16px;
  padding: 10px 16px;
  text-align:left;
}

p, li{ color:#0e3b1b; }
h1, h2, h3, h4{ margin: 0.2em 0; }

@media (max-width: 980px){
  .layout{
    grid-template-columns: 1fr;
    grid-template-areas:
      "article"
      "aside"
      "section";
  }
}
